<app-navbar></app-navbar>


<!-- main container-->

<div class="video-container" style="margin-top: 80px;">
    <video autoplay muted loop>
      <source src="../../../assets/Services-Nav/cloud/cloud-bg-vid.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
     <a routerLink="/contact-us" routerLinkActive="active" class="more-info-button">Let's talk
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32   " fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
     </a>
    <div class="video-caption">
        <h1 style="margin-left: 30%; font-family:  monospace; font-weight:bolder; text-align: left; text-decoration:solid ; font-size: 56px; margin-top: 20px; color: rgb(255, 255, 255);">Sky's the limit, float on clouds</h1>
        <h2 style="margin-left: 30%; font-family: Copperplate, Papyrus, fantasy; letter-spacing: 1px ; font-weight: bold; text-align: left; white-space: nowrap; color: rgb(178, 152, 23); margin-top: 40px;"> Driving Efficiency and Growth with Advanced Cloud Solutions.
        </h2>
        
      
    </div>
</div>
<!-- end of main container-->

<!-- intro-->
   <div class="ai-intro" style="background-color: white;">
      
      <h6 style="color:azure; margin-bottom: 30px;" >.</h6>
      <h1 style="margin-left: 10%; margin-right: 20%; font-family: monospace;">Personalized Cloud Strategies for Business Success</h1>
      <p style="margin-left: 10%; margin-right: 40%; margin-top: 50px; row-gap: 3px; font-family: Arial, Helvetica, sans-serif ; font-size: 20px;">
       
        
        At Slavant, we transform your vision into reality with our cloud services. Tackling unique challenges and unlocking growth opportunities, we provide strategic guidance and hands-on support using cutting-edge cloud technology.
        <br> <br>
        Our expert consultants deliver tailored cloud solutions to align with your goals. From optimizing infrastructure to navigating migrations, we guide you every step of the way.
        <br><br>
        Discover how Slavant helps you achieve objectives and stay ahead in a rapidly evolving marketplace. Let's turn your cloud aspirations into actionable strategies and measurable results.
        <br>
    </p>
      <p style="color: azure;">.</p>
    </div>

<!--end of intro-->

<!-- consulting usage -->
<h3 style="margin-top:20px ; margin-left: 5%;color: azure; margin-bottom: 20px; height: 20px; font-family:monospace; letter-spacing: 2px;"> Future-proof your business with bespoke, tailored solutions.</h3>

<div class="usage">
    <div style="margin-top: 30px;">
        <div class="soft-services" >
           <div class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
              </svg> 
              <span>&nbsp;</span>
              Reimagine new possibilities for your business.


           </div>
        
           <div class="front">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-2-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z"/>
              </svg>
              <span>&nbsp;</span>
              Transform, adapt, and grow with purpose-led ecosystems.
           </div>
        
           <div class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-3-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z"/>
              </svg>
              <span>&nbsp;</span>
              
              Create new business models and scale rapidly.
           </div>
        
           <div class="front">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-4-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M7.519 5.057c-.886 1.418-1.772 2.838-2.542 4.265v1.12H8.85V12h1.26v-1.559h1.007V9.334H10.11V4.002H8.176zM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218"/>
              </svg>
              <span>&nbsp;</span>
              Take advantage of new technologies.
           </div>
        
           <div class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-5-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.006 4.158c1.74 0 2.924-1.119 2.924-2.806 0-1.641-1.178-2.584-2.56-2.584-.897 0-1.442.421-1.612.68h-.064l.193-2.344h3.621V4.002H5.791L5.445 8.63h1.149c.193-.358.668-.809 1.435-.809.85 0 1.582.604 1.582 1.57 0 1.085-.779 1.682-1.57 1.682-.697 0-1.389-.31-1.53-1.031H5.276c.065 1.213 1.149 2.115 2.72 2.115Z"/>
              </svg>
              <span>&nbsp;</span>
              
              Accelerate innovation and unlock new growth potential.
           </div>
            
        
        </div>
        </div>
        
</div>
<!-- Cloud usage-->
<div class="cloud-usage" style="background-color: rgb(249, 249, 249);">

<br>
<h3 style="margin-top:20px ; margin-left: 5%;color: rgb(31, 31, 31); margin-bottom: 20px; height: 20px; font-family:monospace; letter-spacing: 2px;"> Outcomes of Cloud</h3>

<section class="bsb-service-6 py-5 py-xl-8">
  
  <div class="container overflow-hidden">
    <div class="row gy-4 gy-md-0 gx-xxl-5">
      <div class="col-12 col-md-3">
        <div class="card  border-primary rounded-0">
          <div class="card-body">
            <h3 class="h2 mb-4">47%</h3>
            <p class="mb-4 text-secondary">
              new business models, including operating processes and workflows
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card  border-primary rounded-0">
          <div class="card-body">
            <h3 class="h2 mb-4">42%</h3>
            <p class="mb-4 text-secondary">
              new ways of aligning purpose with business strategies
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card  border-primary rounded-0">
          <div class="card-body">
            
            <h3 class="h2 mb-4">34%</h3>
            <p class="mb-4 text-secondary">
              improved customer experience
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card   border-primary rounded-0">
          <div class="card-body">
            <h3 class="h2 mb-4">34%</h3>
            <p class="mb-4 text-secondary">
              improved products and services
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>


<!-- our approach-->
<div class="ai-approach" style="background-color: rgb(25, 27, 27);">

  <h6 style="color: rgb(34, 35, 35);">.</h6>
  <h1 style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: azure;">Our Approach</h1>
  <h6 style="color: rgb(41, 43, 43);">.</h6>
  <img src="../../../assets/Services-Nav/cloud/coud-approach.jpg" alt="">
  <div class="ai-cap">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
    </svg>
    Discovery and Assessment </p>
  </div>

  <div class="ai-cap-sub">
     <p>
        We start by thoroughly assessing your current IT setup, business processes, and challenges with adopting cloud technology to understand your organizational needs and goals better.
     </p>
  </div>
  <div class="ai-cap" style="margin-top: 150px;">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
    </svg>
    Strategy Development  </p>
  </div>

  <div class="ai-cap-sub" style="margin-top: 140px;">
    <p>
    
    Based on our assessment, we work closely with your team to create a strategic cloud adoption roadmap aligned with your business goals. This plan includes clear steps and timelines for implementation.
    </p>
    </div>

    <div class="ai-cap" style="margin-top: 290px;">
      <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
      </svg>
      Implementation and Migration </p>
    </div>
    
    <div class="ai-cap-sub" style="margin-top: 290px;">
      <p>
        We prioritize efficiency and minimal disruption as we migrate and implement cloud solutions. Our team collaborates closely with yours to ensure a seamless transition and integration of cloud technologies into your operations.
     </p>  </div>

      <div class="ai-cap" style="margin-top: 450px;">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
        </svg>
        Continuous  Optimization </p>
      </div>

      <div class="ai-cap-sub" style="margin-top: 450px;">
        <p>
        
We emphasize continuous optimization of your cloud environment, regularly assessing performance, security, and cost-effectiveness, which ensures your cloud solutions evolve with your business needs and industry trends effectively.       
        </p>
    </div>
    
        <div class="ai-cap" style="margin-top: 610px;">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
          </svg>
          Knowledge Transfer and Support </p>
        </div>

        <div class="ai-cap-sub" style="margin-top: 610px;">
          <p>
            We emphasize knowledge transfer and provide comprehensive training and support to your team, empowering them to effectively use cloud technologies and independently manage daily operations.   
        </p> 
          </div>

          <div class="ai-cap" style="margin-top: 760px;">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>
            Measurable Results </p>
          </div>

          <div class="ai-cap-sub" style="margin-top: 760px;">
            <p>
                Our goal is to deliver measurable improvements in your business agility, scalability, and efficiency. We establish KPIs to track success and ensure our cloud solutions align with your strategic objectives.  
            </p>  </div>
</div>

<div class="last-note" style="background-color:rgb(25, 27, 27) ;">
    <br>
   <div class="title" style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: azure; font-size: 32px;text-align: center; ">
    Crafting Your Distinct Cloud Strategy
   </div>
   <br>
   <div class="title" style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: rgb(200, 200, 200); font-size: 20px;text-align: center; margin-left: 16%; margin-right: 16%;">Your company's journey is as unique as your ambitions. That's why a tailored cloud strategy is essential—to harness breakthrough technologies, accelerate growth, and capitalize on new opportunities. At Slavant, we specialize in empowering businesses like yours to unlock value, fortify resilience, and propel transformation, adaptation, and innovation towards a reimagined future.</div>
   <br><br>
</div>

<!-- let us connect-->

<div class="lets-connect" style="background-color: rgb(216, 216, 216);"> 
    <div class=lc-title>
      <h4 style="color: azure;">.</h4>
      <h1 style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: rgb(0, 0, 0);">Get Started with us</h1>
        </div>
      
    <div class="lc-tagline" style="margin-top: 40px; margin-left: 150px; margin-right: 150px; margin-bottom: 40px;">
       <h3 style="color: rgb(11, 11, 11); font-family: Copperplate, Papyrus, fantasy; text-align: center;">Ready to transform your business with AI? Contact us today to schedule a consultation and discover how our tailored AI solutions can help you achieve your goals.</h3>
      </div>
    
      <div >
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" style="text-align: center;">
          Drop us a line.
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
        </a>
        <h1 style="color: rgb(216, 216, 216);">.</h1>
      </div>
</div>

<app-footer></app-footer>

 