<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
    
   
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav w-100 justify-content-around">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"><h2 class="brand">SLAVANT</h2></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <!-- Example: app.component.html or another component's HTML file -->

          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">
              Services
            </a>
          </li>
  <!-- Other nav items -->


          <li class="nav-item">
            <a class="nav-link" routerLink="/industries" routerLinkActive="active">Industries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/insights" routerLinkActive="active">Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-slavant" routerLinkActive="active">About Slavant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/careers" routerLinkActive="active">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          </li>
          
          <a class="navbar-brand" routerLink="/home"><img src="../assets/My first design.png" class="rounded-circle" alt="Cinque Terre" width="50" height="51"></a>
          <button style="color: azure;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          
        </ul>
      </div>
    </div>
  </nav>


  <!-- Example: app.component.html or another component's HTML file -->
