<app-navbar></app-navbar>


<!-- main container-->

<div class="video-container" style="margin-top: 80px;">
    <video autoplay muted loop>
      <source src="../../../assets/Services-Nav/software-dev/sof-dev-vid.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
     <a routerLink="/contact-us" routerLinkActive="active" class="more-info-button">Let's talk
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32   " fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
     </a>
    <div class="video-caption">
        <h1 style="margin-left: 30%; font-family:  monospace; font-weight:bolder; text-align: left; text-decoration:solid ;font-size:  56px; margin-top: 20px; color: rgb(255, 255, 255);">Empower Your Business with Our Custom Software Development Solutions</h1>
        <h3 style="margin-left: 30%; font-family: Copperplate, Papyrus, fantasy; letter-spacing: 1px ; font-weight: bold; text-align: left; white-space: nowrap; color: rgb(242, 242, 242); margin-top: 40px;">  Crafting Software Excellence for Enhanced Efficiency and Insightful Growth</h3>
        
      
    </div>
</div>
<!-- end of main container-->

<!-- intro-->
   <div class="ai-intro" style="background-color: white;">
      
      <h6 style="color:azure; margin-bottom: 30px;" >.</h6>
      <h1 style="margin-left: 10%; margin-right: 20%; font-family: monospace;">Crafting Customized Software Solutions for Revolutionary Business Strategies</h1>
      <p style="margin-left: 10%; margin-right: 40%; margin-top: 50px; row-gap: 3px; font-family: Arial, Helvetica, sans-serif ; font-size: 20px;">At Slavant, we understand that every business is unique, which is why we prioritize a deep understanding of your company and industry. By focusing on your specific needs and processes, we craft highly customized software solutions that enhance workflow efficiency and drive growth. Whether you're scaling up or streamlining operations, our tailored approach ensures innovation that aligns seamlessly with your business objectives
      </p>
      <p style="color: azure;">.</p>
    </div>

<!--end of intro-->

<!-- AI usage -->
<h3 style="margin-top:20px ; margin-left: 5%;color: azure; margin-bottom: 20px; height: 20px; font-family:monospace; letter-spacing: 2px;"> Explore the software service you need. Experience our expertise </h3>

<div style="margin-top: 30px;">
<div class="soft-services" >
   <div class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
      </svg> 
      <span>&nbsp;</span>
      Web & Mobile Application Development
   </div>

   <div class="front">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-2-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z"/>
      </svg>
      <span>&nbsp;</span>
      cloud & Enterprise Application Development
   </div>

   <div class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-3-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z"/>
      </svg>
      <span>&nbsp;</span>
      Custom Software Integration & AI / ML
   </div>

   <div class="front">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-4-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M7.519 5.057c-.886 1.418-1.772 2.838-2.542 4.265v1.12H8.85V12h1.26v-1.559h1.007V9.334H10.11V4.002H8.176zM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218"/>
      </svg>
      <span>&nbsp;</span>
      E-Commerce Solutions & CRM
   </div>

   <div class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-5-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.006 4.158c1.74 0 2.924-1.119 2.924-2.806 0-1.641-1.178-2.584-2.56-2.584-.897 0-1.442.421-1.612.68h-.064l.193-2.344h3.621V4.002H5.791L5.445 8.63h1.149c.193-.358.668-.809 1.435-.809.85 0 1.582.604 1.582 1.57 0 1.085-.779 1.682-1.57 1.682-.697 0-1.389-.31-1.53-1.031H5.276c.065 1.213 1.149 2.115 2.72 2.115Z"/>
      </svg>
      <span>&nbsp;</span>
      Business Intelligence (BI) and Analytics
   </div>

   <div class="front">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-6-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.21 3.855c-1.868 0-3.116 1.395-3.116 4.407 0 1.183.228 2.039.597 2.642.569.926 1.477 1.254 2.409 1.254 1.629 0 2.847-1.013 2.847-2.783 0-1.676-1.254-2.555-2.508-2.555-1.125 0-1.752.61-1.98 1.155h-.082c-.012-1.946.727-3.036 1.805-3.036.802 0 1.213.457 1.312.815h1.29c-.06-.908-.962-1.899-2.573-1.899Zm-.099 4.008c-.92 0-1.564.65-1.564 1.576 0 1.032.703 1.635 1.558 1.635.868 0 1.553-.533 1.553-1.629 0-1.06-.744-1.582-1.547-1.582"/>
      </svg>
      <span>&nbsp;</span>
      IoT Applications & Blockchain Development
   </div>

   <div class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-7-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.37 5.11h3.972v.07L6.025 12H7.42l3.258-6.85V4.002H5.369v1.107Z"/>
      </svg>
      <span>&nbsp;</span>
      UI/UX Design Services
      </div>

      <div class="front">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-8-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-5.03 1.803c0-1.248-.943-1.84-1.646-1.992v-.065c.598-.187 1.336-.72 1.336-1.781 0-1.225-1.084-2.121-2.654-2.121s-2.66.896-2.66 2.12c0 1.044.709 1.589 1.33 1.782v.065c-.697.152-1.647.732-1.647 2.003 0 1.39 1.19 2.344 2.953 2.344 1.77 0 2.989-.96 2.989-2.355Zm-4.347-3.71c0 .739.586 1.255 1.383 1.255s1.377-.516 1.377-1.254c0-.733-.58-1.23-1.377-1.23s-1.383.497-1.383 1.23Zm-.281 3.645c0 .838.72 1.412 1.664 1.412.943 0 1.658-.574 1.658-1.412 0-.843-.715-1.424-1.658-1.424-.944 0-1.664.58-1.664 1.424"/>
          </svg>
          <span>&nbsp;</span>
          Quality Assurance and Testing
       </div>

       <div class="back">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-9-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.223 4.146c2.104 0 3.123-1.464 3.123-4.3 0-3.147-1.459-4.014-2.97-4.014-1.63 0-2.871 1.02-2.871 2.73 0 1.706 1.171 2.667 2.566 2.667 1.06 0 1.7-.557 1.934-1.184h.076c.047 1.67-.475 3.023-1.834 3.023-.71 0-1.149-.363-1.248-.72H5.258c.094.908.926 1.798 2.52 1.798Zm.118-3.972c.808 0 1.535-.528 1.535-1.594s-.668-1.676-1.56-1.676c-.838 0-1.517.616-1.517 1.659 0 1.072.708 1.61 1.54 1.61Z"/>
          </svg>
          <span>&nbsp;</span>
          ERP (Enterprise Resource Planning) Systems
       </div>
    

</div>
</div>

<!-- AI approach-->
<div class="ai-approach" style="background-color: rgb(25, 27, 27);">

  <h6 style="color: rgb(34, 35, 35);">.</h6>
  <h1 style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: azure;">Our Approach</h1>
  <div style="color: azure; margin-left: 9%; margin-right: 10%; font-family: monospace;">
    At Slavant, we specialize in delivering customized software solutions that empower businesses to achieve their goals efficiently and effectively. Our approach emphasizes collaboration, innovation, and high-quality craftsmanship in custom software development </div>
  <h6 style="color: rgb(41, 43, 43);">.</h6>
  <img src="../../../assets/Services-Nav/software-dev/sof-dev-approach.jpg" alt="">

  <div class="ai-cap" style="margin-top: 60px;">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
    </svg>
    Discovery and Requirement Gathering </p>
  </div>


  <div class="ai-cap" style="margin-top: 130px;">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
    </svg>
    Custom Solution Design and Architecture </p>
  </div>



    <div class="ai-cap" style="margin-top: 200px;">
      <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
      </svg>
      Agile Development Methodology </p>
    </div>
    


      <div class="ai-cap" style="margin-top: 270px;">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
        </svg>
        Expert Development and Implementation </p>
      </div>

    
        <div class="ai-cap" style="margin-top: 340px;">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
          </svg>
          Comprehensive Testing and Quality Assurance </p>
        </div>


          <div class="ai-cap" style="margin-top: 410px;">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>
            Deployment and Support</p>
          </div>

          <div class="ai-cap" style="margin-top: 480px;">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>
            continuous Improvement and Updates</p>
          </div>

          <div class="ai-cap" style="margin-top: 550px;">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>
            Client Collaboration and Satisfaction</p>
          </div>

        
</div>

<!-- let us connect-->

<div class="lets-connect" style="background-color: rgb(216, 216, 216);"> 
    <div class=lc-title>
      <h4 style="color: azure;">.</h4>
      <h1 style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: rgb(0, 0, 0);">Get Started with us</h1>
        </div>
      
    <div class="lc-tagline" style="margin-top: 40px; margin-left: 150px; margin-right: 150px; margin-bottom: 40px;">
       <h3 style="color: rgb(11, 11, 11); font-family: Copperplate, Papyrus, fantasy; text-align: center;">Ready to transform your business with AI? Contact us today to schedule a consultation and discover how our tailored AI solutions can help you achieve your goals.</h3>
      </div>
    
      <div >
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" style="text-align: center;">
          Drop us a line.
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
        </a>
        <h1 style="color: rgb(216, 216, 216);">.</h1>
      </div>
</div>

<app-footer></app-footer>

 