<app-navbar></app-navbar>


<!-- main container-->

<div class="video-container" style="margin-top: 80px; ">
    <video autoplay muted loop>
      <source src="../../../assets/Services-Nav/consulting/consulting.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
     <a routerLink="/contact-us" routerLinkActive="active" class="more-info-button">Let's talk
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32   " fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
     </a>
    <div class="video-caption">
        <h1 style="margin-left: 30%; font-family:  monospace; font-weight:bolder; text-align: left; text-decoration:solid ;font-size: 56px; margin-top: 20px; color: rgb(255, 255, 255);">Your Vision, Our Expertise</h1>
        <h2 style="margin-left: 30%; font-family: Copperplate, Papyrus, fantasy; letter-spacing: 1px ; font-weight: bold; text-align: left; white-space: nowrap; color: rgb(252, 252, 252); margin-top: 40px;"> Innovative Strategies for Optimal Efficiency and Market Expansion</h2>
        
      
    </div>
</div>
<!-- end of main container-->

<!-- intro-->
   <div class="ai-intro" style="background-color: white;">
      
      <h6 style="color:azure; margin-bottom: 30px;" >.</h6>
      <h1 style="margin-left: 10%; margin-right: 20%; font-family: monospace;">Empowering Your Business with Tailored Consulting Solutions</h1>
      <p style="margin-left: 10%; margin-right: 40%; margin-top: 50px; row-gap: 3px; font-family: Arial, Helvetica, sans-serif ; font-size: 20px;">
      At Slavant, "Partnering to transform your vision into reality, our consulting services tackle unique challenges and unlock growth opportunities. With industry insight and cutting-edge tech, we offer strategic guidance and hands-on support for sustainable success.
      <br>
      <br>
      Our expert consultants deliver tailored solutions to align with your goals. From streamlining operations to enhancing customer experiences and navigating digital transformation, we guide you every step of the way.
      <br>
      <br>
      "Discover how Slavant helps you achieve objectives and stay ahead in a rapidly evolving marketplace. Let's turn your aspirations into actionable strategies and measurable results."
    </p>
      <p style="color: azure;">.</p>
    </div>

<!--end of intro-->

<!-- consulting usage -->
<h3 style="margin-top:20px ; margin-left: 5%;color: azure; margin-bottom: 20px; height: 20px; font-family:monospace; letter-spacing: 2px;"> Maximize your business's potential.</h3>

<div class="usage">
    <div style="margin-top: 30px;">
        <div class="soft-services" >
           <div class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
              </svg> 
              <span>&nbsp;</span>
              Embrace holistic transformation to fulfill your purpose.


           </div>
        
           <div class="front">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-2-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z"/>
              </svg>
              <span>&nbsp;</span>
              Imagine, build, and roll out new business models.
           </div>
        
           <div class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-3-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z"/>
              </svg>
              <span>&nbsp;</span>
              
              Drive continuous value creation through innovation.
           </div>
        
           <div class="front">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-4-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M7.519 5.057c-.886 1.418-1.772 2.838-2.542 4.265v1.12H8.85V12h1.26v-1.559h1.007V9.334H10.11V4.002H8.176zM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218"/>
              </svg>
              <span>&nbsp;</span>
              Optimize customer and employee interactions.
           </div>
        
           <div class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-5-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.006 4.158c1.74 0 2.924-1.119 2.924-2.806 0-1.641-1.178-2.584-2.56-2.584-.897 0-1.442.421-1.612.68h-.064l.193-2.344h3.621V4.002H5.791L5.445 8.63h1.149c.193-.358.668-.809 1.435-.809.85 0 1.582.604 1.582 1.57 0 1.085-.779 1.682-1.57 1.682-.697 0-1.389-.31-1.53-1.031H5.276c.065 1.213 1.149 2.115 2.72 2.115Z"/>
              </svg>
              <span>&nbsp;</span>
              
              Execute enterprise-wide transformation from vision to outcomes.
           </div>
            
        
        </div>
        </div>
        
</div>


<!-- our approach-->
<div class="ai-approach" style="background-color: rgb(25, 27, 27);">

  <h6 style="color: rgb(34, 35, 35);">.</h6>
  <h1 style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: azure;">Our Approach</h1>
  <h6 style="color: rgb(41, 43, 43);">.</h6>
  <img src="../../../assets/Services-Nav/consulting/consulting-bg-img.jpg" alt="">
  <div class="ai-cap">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
    </svg>
    Discovery and Assessment </p>
  </div>

  <div class="ai-cap-sub">
     <p>
      We begin by conducting a thorough assessment of your  business environment, processes, and challenges, for deep understanding of your needs and objectives.  </div>

  <div class="ai-cap" style="margin-top: 150px;">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
    </svg>
    Strategy Development  </p>
  </div>

  <div class="ai-cap-sub" style="margin-top: 140px;">
    <p>
        Based on our assessment, we collaborate with your team to develop a strategy aligned with your business goals, serving as a roadmap for our consulting engagement.   </p> 
    </div>

    <div class="ai-cap" style="margin-top: 290px;">
      <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
      </svg>
      Implementation and Execution </p>
    </div>
    
    <div class="ai-cap-sub" style="margin-top: 290px;">
      <p>
        We focus on action-oriented solutions, working closely with your team to implement strategies efficiently and on schedule.
      </p>  </div>

      <div class="ai-cap" style="margin-top: 450px;">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
        </svg>
        Continuous Evaluation and Optimization </p>
      </div>

      <div class="ai-cap-sub" style="margin-top: 450px;">
        <p>
            We focus on action-oriented solutions, working closely with your team to implement strategies efficiently and on schedule.   </p> 
        </div>
    
        <div class="ai-cap" style="margin-top: 610px;">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
          </svg>
          Knowledge Transfer and Support </p>
        </div>

        <div class="ai-cap-sub" style="margin-top: 610px;">
          <p>
            Throughout our engagement, we prioritize knowledge transfer and provide ongoing support, empowering your team to sustain and build upon our improvements.
            </p> 
          </div>

          <div class="ai-cap" style="margin-top: 760px;">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>
            Measurable Results </p>
          </div>

          <div class="ai-cap-sub" style="margin-top: 760px;">
            <p>
                Our goal is to deliver measurable results that drive your business growth. We track KPIs and milestones to ensure alignment with your expectations.
            </p>  </div>
</div>

<div class="last-note" style="background-color:rgb(25, 27, 27) ;">
    <br>
   <div class="title" style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: azure; font-size: 32px;text-align: center; ">
    Strategy for Action
   </div>
   <br>
   <div class="title" style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: rgb(200, 200, 200); font-size: 20px;text-align: center; margin-left: 16%; margin-right: 16%;">In today’s dynamic business environment, enterprises must embrace innovative strategies, cutting-edge technologies, and an integrated approach to meet evolving customer and employee expectations. To excel in this era of transformation, you need a forward-thinking business strategy anchored in purpose and adaptability.</div>
   <br><br>
</div>

<!-- let us connect-->

<div class="lets-connect" style="background-color: rgb(216, 216, 216);"> 
    <div class=lc-title>
      <h4 style="color: azure;">.</h4>
      <h1 style="font-family:monospace; letter-spacing: 2px; margin-left: 5%; color: rgb(0, 0, 0);">Get Started with us</h1>
        </div>
      
    <div class="lc-tagline" style="margin-top: 40px; margin-left: 150px; margin-right: 150px; margin-bottom: 40px;">
       <h3 style="color: rgb(11, 11, 11); font-family: Copperplate, Papyrus, fantasy; text-align: center;">Ready to transform your business with AI? Contact us today to schedule a consultation and discover how our tailored AI solutions can help you achieve your goals.</h3>
      </div>
    
      <div >
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" style="text-align: center;">
          Drop us a line.
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
        </a>
        <h1 style="color: rgb(216, 216, 216);">.</h1>
      </div>
</div>

<app-footer></app-footer>

 